<Configuration>
    <Appenders>
        <Kafka name="Kafka" topic="log4j2">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>
    </Loggers>
</Configuration>